.home-wrapper{
    display: flex;
}

.home-collections{
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}

.home-items{
    display: flex;
    flex-direction: column;
    width: 50%;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.home-clouds-tags{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.simple-cloud .tag-cloud-tag {
    cursor: pointer;
  }

  .tag-cloud-tag:hover{
    transform: scale(1.1);
  }